@import "tailwindcss";
@keyframes float {
  0% { transform: translateY(0px) scale(1.1);}
  50% { transform: translateY(-20px) scale(1);}
  100% { transform: translateY(0px) scale(1.1);}
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}
.animate-float-delay {
  animation: float 4s ease-in-out infinite;
}