@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Iceberg&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Niconne&family=Pacifico&family=Quintessential&display=swap');

@theme {
  --font-niconne: "Niconne", cursive;
  --font-pacifico: "Pacifico", cursive;
  --font-iceberg: "Iceberg", sans-serif;
  --font-quintessential: "Quintessential", cursive;
  --font-aladin: "Aladin", cursive;
  --font-merriweather: "Merriweather", serif;
}

@keyframes float {
  0% {
    transform: translateY(0px) scale(1.1);
  }

  50% {
    transform: translateY(-20px) scale(1);
  }

  100% {
    transform: translateY(0px) scale(1.1);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delay {
  animation: float 4s ease-in-out infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* Scroll animations */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-33.33%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-33.33%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 45s linear infinite;
}

/* Pause animation on hover for a nice effect */
.animate-scroll-left:hover,
.animate-scroll-right:hover {
  animation-play-state: paused;
}